process {
    withName:macs2 {
        executor='slurm'
        queue="${params.queue}"
        cpus=2
        memory='50GB'
        time='23h'
        container = "${params.image_folder}macs-2.2.9.1.sif"
        containerOptions = "${params.extra_mounts} -B ${params.project_folder}:/workdir"
    }
    withName:pre_symlink {
        executor='slurm'
        queue="${params.queue}"
        cpus=2
        memory='5GB'
        time='2h'
        container = "${params.image_folder}macs-2.2.9.1.sif"
        containerOptions = "${params.extra_mounts} -B ${params.project_folder}:/workdir"
    }
}

